<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>1</td><td>TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]<br/>TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]<br/>TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]<br/>TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]<br/>TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]<br/>TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]<br/></td></tr>
<tr><td>2</td><td>TestClass1.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]<br/></td></tr>
</table>
