<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Paralel suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:13</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod3</td> 
  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:13</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod1</td> 
  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:13</td>   <td>160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod1</td> 
  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:13</td>   <td>479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod1</td> 
  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:13</td>   <td>502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod2</td> 
  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:13</td>   <td>589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod2</td> 
  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>829</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@29150916</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:14</td>   <td>1212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod2</td> 
  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:14</td>   <td>1370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod3</td> 
  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1481</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:14</td>   <td>1482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod3</td> 
  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1587</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@24142959</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>1635</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>12855574 30639342 </td> </tr>
</table>
