<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>YandexMail</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82f672">  <td>15/12/27 19:34:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.prepareBrowser()[pri:0, instance:com.gomel.tat.home7.tests.SendMailTest@1ed40e0]">&gt;&gt;prepareBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@211920</td>   <td></td> </tr>
<tr bgcolor="82f672">  <td>15/12/27 19:34:31</td>   <td>8291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login()[pri:0, instance:com.gomel.tat.home7.tests.SendMailTest@1ed40e0]">login</td> 
  <td>main@211920</td>   <td></td> </tr>
<tr bgcolor="7f70b2">  <td>15/12/27 19:34:50</td>   <td>27135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailTest.sendMail()[pri:0, instance:com.gomel.tat.home7.tests.SendMailTest@1ed40e0]">sendMail</td> 
  <td>main@211920</td>   <td></td> </tr>
</table>
