<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>0</td> <td title="&gt;&gt;BaseWordListTests.beforeSuit()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="de8aa5">  <td>15/12/28 00:04:22</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkEmptyFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">checkEmptyFilePath</td> 
  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>69</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="de8aa5">  <td>15/12/28 00:04:22</td>   <td>69</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkNullFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">checkNullFilePath</td> 
  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="de8aa5">  <td>15/12/28 00:04:22</td>   <td>134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkWrongFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">checkWrongFilePath</td> 
  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:22</td>   <td>185</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@815078123</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>187</td> <td title="&lt;&lt;BaseWordListTests.afterSuit()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@1e017050]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
</table>
