<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1 (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:12</td>   <td>-256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:12</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:13</td>   <td>519</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:12</td>   <td>-303</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:12</td>   <td>-259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:12</td>   <td>-111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:12</td>   <td>-331</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:12</td>   <td>426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@179caec]">testMethod1</td> 
  <td>main@27602877</td>   <td>16252558 24759020 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:12</td>   <td>435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@f7fe8e]">testMethod1</td> 
  <td>main@27602877</td>   <td>16252558 24759020 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:12</td>   <td>-109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">testMethod2</td> 
  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:12</td>   <td>-259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]">testMethod3</td> 
  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:12</td>   <td>445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@179caec]">testMethod3</td> 
  <td>main@27602877</td>   <td>16252558 24759020 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:12</td>   <td>447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@f7fe8e]">testMethod3</td> 
  <td>main@27602877</td>   <td>16252558 24759020 </td> </tr>
</table>
