<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1 (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>-209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>238</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>-211</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>-210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>-106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:14</td>   <td>-211</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:14</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@53fd30]">testMethod1</td> 
  <td>main@27602877</td>   <td>5504304 13354031 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:15</td>   <td>153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@cbc42f]">testMethod1</td> 
  <td>main@27602877</td>   <td>5504304 13354031 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:14</td>   <td>-105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">testMethod2</td> 
  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:14</td>   <td>-210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@1ff8b8f]">testMethod3</td> 
  <td>main@27602877</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:15</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@53fd30]">testMethod3</td> 
  <td>main@27602877</td>   <td>5504304 13354031 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:15</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@cbc42f]">testMethod3</td> 
  <td>main@27602877</td>   <td>5504304 13354031 </td> </tr>
</table>
