<h2>Methods that were not run</h2><table>
<tr><td>com.gomel.tat.home5.tests.BaseWordListTests.afterSuit</td></tr>
<tr><td>com.gomel.tat.home5.tests.BaseWordListTests.afterSuit</td></tr>
<tr><td>com.gomel.tat.home5.tests.BaseWordListTests.beforeSuit</td></tr>
<tr><td>com.gomel.tat.home5.tests.BaseWordListTests.beforeSuit</td></tr>
</table>