<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Classes</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:24</td>   <td>1842</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterGroups()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:24</td>   <td>1852</td> <td title="&lt;&lt;BaseWordListTests.afterSuit()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-132</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-129</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeGroups()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="b26abc">  <td>15/12/28 00:04:23</td>   <td>-132</td> <td title="&gt;&gt;BaseWordListTests.beforeSuit()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="68fc73">  <td>15/12/28 00:04:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkEmptyBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">checkEmptyBaseDirectory</td> 
  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="aee7c0">  <td>15/12/28 00:04:23</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileReaderTests.checkEmptyFile()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">checkEmptyFile</td> 
  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="de8aa5">  <td>15/12/28 00:04:23</td>   <td>-129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkEmptyFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">checkEmptyFilePath</td> 
  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="aee7c0">  <td>15/12/28 00:04:23</td>   <td>463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileReaderTests.checkFillFile()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1785f0d]">checkFillFile</td> 
  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="68fc73">  <td>15/12/28 00:04:23</td>   <td>-131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkNullBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">checkNullBaseDirectory</td> 
  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="de8aa5">  <td>15/12/28 00:04:23</td>   <td>-71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkNullFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">checkNullFilePath</td> 
  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="68fc73">  <td>15/12/28 00:04:23</td>   <td>-131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkWrongBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@7a631c70]">checkWrongBaseDirectory</td> 
  <td>main@2054506394</td>   <td></td> </tr>
<tr bgcolor="de8aa5">  <td>15/12/28 00:04:23</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkWrongFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@e03bd6]">checkWrongFilePath</td> 
  <td>main@2054506394</td>   <td></td> </tr>
</table>
