<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.ac()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&lt;&lt;ac</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.ac()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;ac</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.ac()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;ac</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.ac()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;ac</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.ac()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;ac</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.am()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&lt;&lt;am</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.am()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&lt;&lt;am</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.am()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;am</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.am()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;am</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.am()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;am</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseRunnerTest.am()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&lt;&lt;am</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>74</td> <td title="&lt;&lt;BaseRunnerTest.as()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&lt;&lt;as</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bc()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&gt;&gt;bc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bc()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bc()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bc()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bc()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bc</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bm()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&gt;&gt;bm</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bm()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&gt;&gt;bm</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bm()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bm</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bm()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bm</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bm()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bm</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.bm()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;bm</td> 
<td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:01</td>   <td>-10136</td> <td title="&gt;&gt;BaseRunnerTest.bs()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&gt;&gt;bs</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.start()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.start()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.start()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.start()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="f0a69f">  <td>15/12/17 15:28:11</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseRunnerTest.start()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="bfb56a">  <td>15/12/17 15:28:11</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.testMethod1()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">testMethod1</td> 
  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="bfb56a">  <td>15/12/17 15:28:11</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.testMethod2()[pri:0, instance:com.gomel.tat.home5.Test1@1ccd51b]">testMethod2</td> 
  <td>main@9793001</td>   <td></td> </tr>
<tr bgcolor="6b8daa">  <td>15/12/17 15:28:11</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.testMethod3()[pri:0, instance:com.gomel.tat.home5.Test2@1016012]">testMethod3</td> 
  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="6b8daa">  <td>15/12/17 15:28:11</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.testMethod3()[pri:0, instance:com.gomel.tat.home5.Test2@117365b]">testMethod3</td> 
  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="6b8daa">  <td>15/12/17 15:28:11</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.testMethod3()[pri:0, instance:com.gomel.tat.home5.Test2@1444d75]">testMethod3</td> 
  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
<tr bgcolor="6b8daa">  <td>15/12/17 15:28:11</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.testMethod3()[pri:0, instance:com.gomel.tat.home5.Test2@80cdac]">testMethod3</td> 
  <td>main@9793001</td>   <td>16867346 21253493 8441260 18298459 </td> </tr>
</table>
